.trainheroic-code-test {
    .home-nav {
      text-align: center;
      padding: 20px;
    }

    .profile-nav {
      display: flex;
      padding: 20px;
      width: 90%;
    }

    .back-button {
      width: 10%;
      text-align: center;
    }

    .logo-container {
      width: 90%;
      text-align: center;
    }
}