.trainheroic-code-test {
    .graphs {
      width: 100%;
    }

    .workouts-container {
      width: 100%;
    }

    .athlete-profile {
      min-width: 250px;
      text-align: center;
      padding: 20px;
      margin: 20px;
    }

    .profile-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 90%;
      margin: auto;
      margin-bottom: 30px;
    }
}