.trainheroic-code-test {
    .workout-table {
      width: 100%;
      text-align: center;
    }

    @media only screen and (max-width: 825px) {
      .workout {
        width: 90%;
      margin: auto;
      }
    }

    @media only screen and (max-width: 545px) {
      .workout-table {
        font-size: 12px;
      }
    }

    @media only screen and (max-width: 436px) {
      .workout-table {
        font-size: 8px;
      }
    }
}